/* Navbar Styles */

/* .navbar {
  background-color: #e00505;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  position: s;
} */


.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff;
  
}
.logoNav{
  width: 80px;
  height: 80px;
}

.navbar-toggler {
  border: none;
  padding: 0.25rem;
  
}

.navbar-nav {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-link {
  color: #ffffff; /* Color del texto de los enlaces */
  margin-right: 15px;
}

.nav-link:hover {
  color: #28a745; /* Cambio de color al pasar el ratón */
}

/* Dropdown Styles */

.navbar-nav .nav-item.dropdown:hover > .nav-link {
  color: #28a745; /* Cambio de color del enlace principal al pasar el ratón */
}

.dropdown-menu {
  background-color: #343a40; /* Color de fondo del menú desplegable */
  border: none;
}

.dropdown-item {
  color: #ffffff; /* Color del texto del ítem del menú desplegable */
}

.dropdown-item:hover {
  background-color: #28a745; /* Cambio de color al pasar el ratón */
  color: #ffffff; /* Cambio de color del texto al pasar el ratón */
}

/* Media Query para dispositivos pequeños */

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 1rem; /* Ajuste de margen superior para dispositivos pequeños */
  }

  .navbar-collapse {
    background-color: #343a40; /* Color de fondo del menú desplegable en dispositivos pequeños */
    box-shadow: none; /* Sin sombra en dispositivos pequeños */
  }
}
