.rosa {
    background-color: rgb(245, 228, 245);
    height: 100px; /* 33.33% de la altura de la ventana gráfica */
    width: 100%; /* Ancho completo de la ventana gráfica */
    flex: 1;

}

.texto-izq1 {
    color: rgb(46, 46, 46); /* Color del texto en negro */
    font-size: 20px; /* Tamaño de fuente */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto-izq2 {
    color: black;
    font-size: 35px;
    white-space: nowrap; 
}


.linea-horizontal {
    background-color: rgb(245, 245, 245);
    width: 40%;
    height: 200px;
    transform: translateY(-50%); 
}


.fondo-negro {
    background-color: #343a40;
    height: calc(30.67vh + 100px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: rgb(245, 228, 245);
    font-size: 18px;
    margin-left: 70px;
}

.columna a {
    text-decoration: none; 
    color: white; 
    margin: 2px; 
}

.columna a:hover {
    text-decoration: underline; 
}


.derechos-reservados {
    bottom: 10px;
    left: 10px; 
    color: rgb(32, 32, 32);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.enlaces-sociales {
    bottom: 10px;
    right: 10px; 
    background-color: rgb(245, 228, 245);
    padding: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlaces-sociales a {
    text-decoration: none; 
    color: rgb(73, 73, 73); 
    margin: 0 20px; 
    font-weight: bold;
}

.enlaces-sociales a:hover {
    color: rgb(255, 107, 96);
}

.imagen {
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150px; 
    height: auto; 
}

@media (max-width: 576px) {
    .fondo-negro {
      flex-direction: column;
      align-items: center; 
    }
  
    .columna {
      margin-left: 0;
      text-align: center; 
      margin-bottom: 20px;
    }
  
    .derechos-reservados,
    .enlaces-sociales {
      text-align: center; 
    }
  
    .fondo-negro {
      height: auto; 
    }
  
    .columna {
      margin-left: 0;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
  