/* body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://res.cloudinary.com/dwwj8mhse/image/upload/v1699753553/kavonkcwybqnowibs4tw.jpg');
    background-size: cover;
    background-position: center;
} */

.container{
    background-image: url('https://res.cloudinary.com/dwwj8mhse/image/upload/v1699753553/kavonkcwybqnowibs4tw.jpg');
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 200px; /* Ajusta el tamaño de la imagen */
}

.texto-izq {
    position: absolute;
    top: 25%; /* Espacio desde la parte superior */
    left: 5%; /* Espacio desde la izquierda */
    color: white; /* Color del texto en negro */
    font-size: 70px; /* Tamaño de fuente */
}

.texto-der {
    position: absolute;
    width: 30%; /* Tamaño del cuadro transparente */
    top: 25%; /* Espacio desde la parte superior */
    left: 75%; /* Espacio desde la izquierda */
    transform: translateX(-50%);
    background: rgba(128, 128, 128, 0.5); /* Fondo transparente */
    color: white; /* Color del texto en blanco */
    font-size: 28px; /* Tamaño del texto */
    font-style: italic; /* Texto en cursiva */
    padding: 20px;
}
