.containerCarrera {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffd700;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.header-contentCarrera {
  text-align: center;
}

.imageCarrera {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.contentCarrera {
  margin-top: 20px;
}

.additional-textsCarrera {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.text-groupCarrera {
  flex: 0 1 48%;
  margin-bottom: 20px;
}

/* Colores personalizados */
.text-amarillo {
  color: #ffd700;
}

.text-azul {
  color: #0000ff;
}

/* Otros estilos según tu preferencia */
h1 {
  color: #000000; /* Color del texto del encabezado */
}

p {
  color: #333; /* Color del texto del párrafo */
}


/* Agrega esta clase para el fondo azul */
.bg-azul {
  background-color: #3498db; /* Azul */
  padding: 8px; /* Ajusta según tus preferencias */
  border-radius: 5px; /* Ajusta según tus preferencias */
}

/* Nueva clase para fondo azul claro */
.bg-azul-claro {
  background-color: #3498db; /* Puedes ajustar el color según tu preferencia */
  padding: 8px;
  border-radius: 5px;
}

