
.containerCarrera {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.hedaerC {
  text-align: center;
  margin-bottom: 20px;
  font-size: 80px;
  color: rgb(44, 100, 204);
  
}

.h2C{
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: rgb(44, 100, 204);
}

.carrera-content {
  display: flex;
  flex-wrap: wrap;
}

.carrera-image {
  flex: 1;
  margin-right: 20px;
}

.imageC {
  max-width: 100%;
  height: auto;
}

.carrera-details {
  flex: 2;
  margin-top: 70px;
}

.detail-item {
  margin-bottom: 10px;
}

.carrera-description {
  flex: 1;
}

.carrera-contact {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  margin-top: 20px;
}

.info-item {
  margin-bottom: 10px;
}
